body {
    text-align: center;
    margin-left: 450px;
  }
  
  
  textarea {  
    margin: auto;
    background:blanchedalmond;
      width: 32%;
    min-height: 250px; 
   display: inline-block;
    overflow: scroll;
     outline: none; 
    font-family: Courier, sans-serif;
    font-size: 14px;
  }
  
  iframe {
   position: relative; 
     width: 60%;
    height: 25em;
    
  }