.demo{
    color: red;
}
#name{
      color: green
}
#name{
    font-size: 30px;
}
.button{
    color: green;
    border-radius: 5%;

}
.button1{
     font-size: 25px;  

}
.blue{
    color: aquamarine;
}
